@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: #FFFFFF;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, .price, .btn {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: rgb(34, 34, 34);
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: rgb(34, 34, 34);
}

h2 .fashion {
  color: rgb(241, 109, 127);
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(241, 109, 127);
}

h4 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

h5 {
  color: rgb(34, 34, 34);
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

h6 {
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

p {
  color: rgb(159, 159, 159);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  max-width: 100%;
  min-height: 75px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50%;
}

header .header__logos {
  display: flex;
  align-items: center;
  gap: 41px;
}

header .header__logos .header__poisk {
  display: flex;
  margin-top: 10px;
}

header .header__menus {
  display: flex;
  align-items: center;
  gap: 33px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .banner {
  display: flex;
  align-items: center;
  gap: 64px;
  background: rgb(241, 228, 230);
  margin-bottom: 65px;
  width: 1600px;
}


.main .banner .banner__text {
  display: flex;
  gap: 16px;
}

.main .banner .banner__text .line {
  border-left: 12px solid rgb(241, 109, 127);
  height: 92px;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 96px;
}

.offers .offer {
  width: 360px;
  height: 260px;
}

.offers .offer .text {
  width: 154px;
  height: 50px;
  padding: 105px 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.offers .offer__1 {
  background-image: url(./img/offer_women.png);
}

.offers .offer__1 .fon__1 {
  background: rgba(33, 22, 22, 0.7);
}

.offers .offer__2 {
  background-image: url(./img/offer_men.png);
}

.offers .offer__2 .fon__2 {
  background: rgba(33, 22, 22, 0.7);
}

.offers .offer__3 {
  background-image: url(./img/offer_kids.png);
}

.offers .offer__3 .fon__3 {
  background: rgba(33, 22, 22, 0.7);
}

.offers .offer__4 {
  background-image: url(./img/offer_accesories.png);
}

.offers .offer__4 .fon__4 {
  background: rgba(33, 22, 22, 0.7);
  width: 1140px;
  height: 180px;
}

.offers .offer__4 .fon__4 .text__4 {
  width: 160px;
  height: 50px;
  padding: 65px 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.products .products__title {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products .products__title h5 {
  margin-bottom: 6px;
}

.products .products__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 48px;
}

.products .products__cards .card {
  max-width: 360px;
}

.products .products__cards .card__text {
  padding: 24px 16px;
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.products .products__cards .card__text p {
  color: rgb(93, 93, 93);
  font-weight: 300;
}

.products .products__cards .card__text price {
  color: rgb(241, 109, 127);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.products .products__button button {
  border: 1px solid rgb(255, 106, 106);
  width: 211px;
  height: 47px;
  padding: 14px 37px;
  margin-bottom: 95px;
}

.products .products__button .btn {
  color: rgb(242, 99, 118);
  font-weight: 400;
  font-size: 16px;
}

@media(min-width: 768px) and (max-width: 1140px) {

  .container {
    max-width: 96%;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 24px;
  }

  .header {
    gap: 45%;
  }

  .main .banner {
    gap: 39px;
    width: 768px;
  }

  .main .banner .banner__image {
    max-width: 50%;
  }

  .main .banner .banner__text {
    gap: 16px;
  }

  .offers {
    justify-content: center;
    gap: 19px;
    margin-bottom: 110px;
  }

  .offers .offer {
    width: 232px;
    height: 168px;
  }

  .offers .offer__1,
  .offers .offer__2,
  .offers .offer__3 {
    background-size: 232px 168px;
  }

  .offers .offer .text {
    width: 154px;
    height: 50px;
    padding: 59px 39px;
  }

  .offers .offer__4 {
    background-size: 736px 116px;
  }

  .offers .offer__4 .fon__4 {
    width: 736px;
    height: 116px;
  }

  .offers .offer__4 .fon__4 .text__4 {
    padding: 33px 287px;
  }

  .products .products__cards {
    gap: 16px;
  }

  /* .products .products__button button {
    background: rgb(241, 109, 127);
  }
  
  .products .products__button .btn {
    color: rgb(255, 255, 255);
  } */

  .products .products__button button {
    margin-bottom: 65px;
  }

}

@media(min-width: 320px) and (max-width: 767px) {

  .container {
    max-width: 96%;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 20px;
  }

  .header {
    gap: 40%;
  }

  .header .header__menus .header__user {
    display: none;
  }

  .header .header__menus .header__basket {
    display: none;
  }

  .main .banner {
    width: 100%;
    min-height: 363px;
    justify-content: center;
  }

  .main .banner .banner__image {
    display: none;
  }

  .main .banner .banner__text {
    gap: 15px;
  }

  .offers {
    justify-content: center;
    gap: 32px;
    margin-bottom: 64px;
  }

  .offers .offer {
    width: 343px;
    height: 247px;
  }

  .offers .offer__1,
  .offers .offer__2,
  .offers .offer__3 {
    background-size: 343px 247px;
  }

  .offers .offer .text {
    width: 154px;
    height: 50px;
    padding: 98px 94px;
  }

  .offers .offer__4 {
    background-position: center;
    background-size: cover;
  }

  .offers .offer__4 .fon__4 {
    width: 343px;
    height: 111px;
  }

  .offers .offer__4 .fon__4 .text__4 {
    padding: 30px 92px;
  }

  .products .products__title {
    margin-bottom: 64px;
  }

  .products .products__title h5 {
    margin-bottom: 3px;
  }

}